<div>

  <div class="col left">
    <div ngbDropdown #groupsDropdown="ngbDropdown" class="d-inline-block">
      <button class="btn btn-outline-primary" ngbDropdownToggle>{{getSelectedGroupName()}}</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <input type="text" class="form-control" (keydown.enter)="groupsDropdown.close();onGroupClick($event.target.value)" (blur)="onGroupClick($event.target.value)">
        <div *ngFor='let group of groups; trackBy:trackByGroupId'>
          <button ngbDropdownItem (click)="onGroupClick(group)">Group {{group}}</button>
        </div>
      </div>
    </div>

    <div *ngIf="selectedGroup">

      <ul *ngFor="let device of devicesInGroup; trackBy:trackByDeviceId">
          <li>
            {{device.name}}<span (click)="onRemoveDeviceFromGroupClick(device)" class="close">x</span>
          </li>
      </ul>
      <button (click)="onApplyBtnClick()">Apply changes</button>
      <button (click)="onClearBtnClick()">Clear</button>
    </div>
  </div>
  
  <div class="right">
    <form>
      <div class="form-group form-inline">
        <input class="form-control ml-2" placeholder="Device Name" type="text" [formControl]="filter"/>
      </div>
    </form>
    
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Status</th>
          <th scope="col">GroupId</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let device of filteredDevices$ | async; trackBy:trackByDeviceId">
          
          <td scope="row">
            <input type="checkbox" [disabled]="!selectedGroup" [checked]="device.groupId === selectedGroup" (change)="onChangeCheck($event.target.checked,device)">
          </td>
          <th scope="row">{{device.id}}</th>
          <td><ngb-highlight [result]="device.name" [term]="filter.value"></ngb-highlight></td>
          <td [ngClass]="device.isActive ? 'green' : 'red'" (click)="changeStatus(device)">{{device.isActive}}</td>
          <td >{{device.groupId}}</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>